<div class="home-page">
    <div class="card" class="card-color">
        <div class="row">
            <div class="col-md-7">
                <div class="content">
                    <div class="main-content">
                        Buy Your Favourite Fresh Food & Get Upto 70% OFF
                    </div>
                    <div class="side-content">
                        Lorem ipsum, or lipsum as it is sometimes known, is dummy text used inro
                        laying out print, graphic or web designs. The passage is attributed to good
                        typesetter in the 15th century who is thought
                    </div>
                    <button class="button">OrderNow</button>
                </div>
            </div>
            <div class="col-md-5">
                <img class="card-img-top" [src]="freshFoodPath" alt="Fresh food">
            </div>
        </div>
    </div>

    <div class="second-content">
        <div class="row">
            <div class="col-sm-5">
                <div class="card" class="pineapple-card">
                    <div class="row">
                        <div class="col">
                            <div class="pineapple-content">
                                <h6>Fresh Pineapple</h6>
                                <h6 class="content-bold">25% Discount</h6>
                                <small>FREE Delivery</small><br>
                                <button class="button">SHOP NOW</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="pineapple">
                                <img [src]="pineapplePath" alt="pineapple">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="card" class="healthy-food-card">
                    <div class="row">
                        <div class="col">
                            <div class="healthy-food-content">
                                <h6>Healthy Food</h6>
                                <h6 class="content-bold">35% Discount</h6>
                                <small>FREE Delivery</small><br>
                                <button class="button">SHOP NOW</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="healthyFood">
                                <img [src]="healthyFoodPath" alt="healthyFood">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="third-content">
        <div class="card-group">
            <div class="card">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="image-align">
                            <img [src]="freeShippingPath" alt="freeShopping">
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card-body">
                            <h6>FREE SHIPPING</h6>
                            <small>On All Oders Over $99</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-sm-1">
                        <div class="image-align">
                            <img [src]="easyReturnPath" alt="freeShopping">
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card-body">
                            <h6>EASY RETURNS</h6>
                            <small>30 Days Return Policy</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-sm-1">
                        <div class="image-align">
                            <img [src]="securePaymentPath" alt="freeShopping">
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card-body">
                            <h6>SECURE PAYMENT</h6>
                            <small>100% Secure Payment</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-sm-1">
                        <div class="image-align">
                            <img [src]="supportPath" alt="freeShopping">
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card-body">
                            <h6>24/7 SUPPROT</h6>
                            <small>Dedicated Support</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fourth-content">
        <div class="card" class="chicken">
            <div class="row">
                <div class="col-md-7">
                    <img class="card-img-top" [src]="chickenPath" alt="chicken">
                </div>
                <div class="col-md-5">
                    <div class="card-body" class="chicken-centent">
                        <h5 class="card-title" class="content-bold">Fresh Brolyer chicken</h5>
                        <small>Big sale 40% OFF</small><br>
                        <button class="button">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>