<div class="footer">
    <div class="footer-content" class="lato">
        <div class="card" class="footer-card">
            <div class="row">
                <div class="col-sm-2">
                    <div class="card-body" class="card-content">
                        <h6>About</h6>
                        <small>Categories</small><br>
                        <small>About</small><br>
                        <small>Latest Products</small>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card-body" class="card-content">
                        <h6>Categories</h6>
                        <small>Fruits & Drinks</small><br>
                        <small>Computer</small><br>
                        <small>Food</small>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card-body" class="card-content">
                        <h6> Our Company</h6>
                        <small>Delivery</small><br>
                        <small>Legal Notice</small><br>
                        <small>Terms and Conditions of use</small>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card-body" class="card-content">
                        <h6>DownLoad App</h6>
                        <img [src]="appStoreIconPath" alt="appStoreIcon"><br>
                        <img [src]="googlePlayIconPath" alt="googlePlayIcon">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>