<div class="check-out">
    <div class="row">
        <div class="col-md-5">
            <router-outlet></router-outlet>
        </div>
        <div class="col-md-5" *ngIf="cartItems">
            <div class="order-summary">ORDER SUMMARY</div>
            <div class="row" *ngFor="let cartItem of cartItems">
                <div class="col-sm-2">
                    <div class="content">
                        <img [src]="cartItem.productImagePath" alt="product">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="content">
                        {{cartItem.productName}}
                    </div>
                    <div class="content">
                        Quantity:{{cartItem.productQuantity}}
                    </div>
                    <div class="content">
                        Price:{{cartItem.productQuantity*cartItem.productPrice}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>